<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--js資源引入-->
<th:block th:fragment="script"><!--<div>-->
    <script th:inline="javascript">
        // Insert
        $("[name='add_btn']").click(function(){
            $('#modal_name').text("新增使用者");
            $("[name='id']").val(null);
            $("[name='username']").val(null);
<!--            $("[name='avatar']").val(null);-->
            $("[name='email']").val(null);
            $("[name='role']").val(null);
        });

        // Update
        var readyToEdit = function(row) {
            $('#modal_name').text("更新使用者");
            $("[name='id']").val(row[1].innerText);
            $("[name='username']").val(row[3].innerText);
            $("[name='email']").val(row[2].innerText);
            // 设置默认选中项
            var selectedRoleId = row[5].innerText;
            if (selectedRoleId) {
                $('#inputGroupSelect_role').val(selectedRoleId);
                $("[name='userRole']").val(selectedRoleId);
            }
        }


        // Init form validation rules. For more info check the FormValidation plugin's official documentation:https://formvalidation.io/
        var validator = FormValidation.formValidation( form,
            {
                fields: {
                    'username': { validators: { notEmpty: {
                                message: 'Username is required' } } },
                    'email': { validators: { notEmpty: {
                                message: 'Email is required' } } },
                    'userRole': { validators: { notEmpty: {
                                message: 'UserRole is required' } } },
                },
                plugins: {
                    trigger: new FormValidation.plugins.Trigger(),
                    bootstrap: new FormValidation.plugins.Bootstrap5({
                        rowSelector: '.fv-row',
                        eleInvalidClass: '',
                        eleValidClass: ''
                    })
                }
            }
        );
    </script>
</th:block><!--</div>-->
<!--js資源引入-->

<!--begin::Modal body-->
<div th:fragment="form" class="modal-body scroll-y mx-5 mx-xl-15 my-7">
    <!--begin::Form-->
    <form id="kt_modal_input_form" class="form" th:object="${entity}" action="#" th:action="@{/admin/cms/manage/user/save}" method="post">
        <input type="hidden" name="id">
        <input type="hidden" name="access_scope" th:value="${access_scope}">
        <!--begin::Scroll-->
        <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header" data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px">
            <!--begin::Input group-->
<!--            <div class="fv-row mb-7">-->
<!--                &lt;!&ndash;begin::Label&ndash;&gt;-->
<!--                <label class="d-block fw-bold fs-6 mb-5">Avatar</label>-->
<!--                &lt;!&ndash;end::Label&ndash;&gt;-->
<!--                &lt;!&ndash;begin::Image input&ndash;&gt;-->
<!--                <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url('assets/media/svg/avatars/blank.svg')">-->
<!--                    &lt;!&ndash;begin::Preview existing avatar&ndash;&gt;-->
<!--                    <div class="image-input-wrapper w-125px h-125px" style="background-image: url(assets/media/avatars/300-6.jpg);"></div>-->
<!--                    &lt;!&ndash;end::Preview existing avatar&ndash;&gt;-->
<!--                    &lt;!&ndash;begin::Label&ndash;&gt;-->
<!--                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">-->
<!--                        <i class="bi bi-pencil-fill fs-7"></i>-->
<!--                        &lt;!&ndash;begin::Inputs&ndash;&gt;-->
<!--                        <input type="file" name="avatar" accept=".png, .jpg, .jpeg" />-->
<!--                        <input type="hidden" name="avatar_remove" />-->
<!--                        &lt;!&ndash;end::Inputs&ndash;&gt;-->
<!--                    </label>-->
<!--                    &lt;!&ndash;end::Label&ndash;&gt;-->
<!--                    &lt;!&ndash;begin::Cancel&ndash;&gt;-->
<!--                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">-->
<!--                                    <i class="bi bi-x fs-2"></i>-->
<!--                                </span>-->
<!--                    &lt;!&ndash;end::Cancel&ndash;&gt;-->
<!--                    &lt;!&ndash;begin::Remove&ndash;&gt;-->
<!--                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">-->
<!--                                    <i class="bi bi-x fs-2"></i>-->
<!--                                </span>-->
<!--                    &lt;!&ndash;end::Remove&ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash;end::Image input&ndash;&gt;-->
<!--                &lt;!&ndash;begin::Hint&ndash;&gt;-->
<!--                <div class="form-text">Allowed file types: png, jpg, jpeg.</div>-->
<!--                &lt;!&ndash;end::Hint&ndash;&gt;-->
<!--            </div>-->
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="fv-row mb-7">
                <label class="required fw-bold fs-6 mb-2">帳戶名稱(Call Name)</label>
                <input type="text" name="username" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Call Name / Club Name / District Name" readonly/>
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="fv-row mb-7">
                <label class="required fw-bold fs-6 mb-2">信箱(登入帳號)</label>
                <input type="email" name="email" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="example@domain.com" readonly/>
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="fv-row mb-7">
                <div class="col-md">
                    <!--begin::Label-->
                    <label class="fs-6 fw-bold form-label mb-2">
                        <span th:text="請選擇使用者角色"></span>
                    </label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <select class="form-select form-control form-control-solid" id="inputGroupSelect_role" name="userRole">
                        <option value="">請選擇</option>
                        <option th:each="data : ${select_roles}"
                                th:value="${data.id}"
                                th:text="${data.description}"
                                th:attr="disabled=${data.active != 'true'}">
                        </option>
                    </select>
                    <!--end::Input-->
                </div>
            </div>
            <!--end::Input group-->
        </div>
        <!--end::Scroll-->
        <!--begin::Disclaimer-->
<!--        <div class="text-gray-600">率先協助建立帳號，-->
<!--            <strong class="me-1">密碼、權限、組織</strong>...請至使用者明細頁調整-->
<!--        </div>-->
        <!--end::Disclaimer-->
        <!--begin::Actions-->
        <div th:replace="admin/_fragments/input_basic :: Actions"></div>
        <!--end::Actions-->
    </form>
    <!--end::Form-->
</div>
<!--end::Modal body-->

</html>
