<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--css資源引入-->
<th:block th:fragment="head"><!--<div>-->
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <!--General - DataTables-->
    <link rel="stylesheet" type="text/css" href="assets/plugins/custom/datatables/datatables.bundle.css"
          th:href="@{/plugins/custom/datatables/datatables.bundle.css}"/>
    <!--end::Page Vendor Stylesheets-->
</th:block><!--</div>-->
<!--css資源引入-->
<!--js資源引入-->
<th:block th:fragment="script"><!--<div>-->
    <!--begin::Page Vendors Javascript(used by this page)-->
    <!--General - DataTables-->
    <script th:src="@{/plugins/custom/datatables/datatables.bundle.js}"></script>
    <!--end::Page Vendors Javascript-->
    <!--begin::Page Custom Javascript(used by this page)-->
    <script th:src="@{/js/custom/datatables/table.js}"></script>
    <script th:src="@{/js/custom/datatables/shared.js}"></script>
    <script th:src="@{/js/custom/datatables/input.js}"></script>
    <!--/*/<th:block th:replace="'admin/'+${fragmentSystem}+'/'+${fragmentPackage}+'/input' :: script">/*/-->
    <!--/*/</th:block>/*/-->
    <!--end::Page Custom Javascript-->
    <script th:inline="javascript">
        var deleteUrl = '/admin/upms/manage/user/delete/';

    </script>
</th:block><!--</div>-->
<!--js資源引入-->


<div th:fragment="list" id="kt_content_container" class="container-fluid">
    <!--begin::Card-->
    <div th:replace="admin/_fragments/table_basic :: basic"></div>
    <!--end::Card-->
    <!--begin::Modal - Add task-->
    <div th:replace="admin/_fragments/input_basic :: basic"></div>
    <!--end::Modal - Add task-->
</div>

<!--begin::Card body-->
<div th:fragment="table" class="card-body py-4">
    <!--begin::Table-->
    <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table">
        <!--begin::Table head-->
        <thead>
        <!--begin::Table row-->
        <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
            <th class="w-10px pe-2">
                <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                    <input class="form-check-input" type="checkbox" data-kt-check="true"
                           data-kt-check-target="#kt_table .form-check-input" value="1"/>
                </div>
            </th>
            <!-- <th th:each="i : ${page_thead}" class="min-w-125px" th:text="${i}">Name</th>-->
            <th class="min-w-5px" style="display:none">ID</th>
            <th class="min-w-125px">用戶</th>
<!--            <th class="min-w-125px">地區</th>-->
<!--            <th class="min-w-125px">扶青社</th>-->
            <th class="min-w-125px">phoneNumber</th>
<!--            <th class="min-w-125px">性別</th>-->
            <th class="text-end min-w-100px">動作</th>
        </tr>
        <!--end::Table row-->
        </thead>
        <!--end::Table head-->
        <!--begin::Table body-->
        <tbody class="text-gray-600 fw-bold">
        <!--begin::Table row-->
        <tr th:each="data : ${page_list}">
            <td>
                <div class="form-check form-check-sm form-check-custom form-check-solid">
                    <input class="form-check-input" type="checkbox" value="1"/>
                </div>
            </td>
            <td style="display:none" th:text="${data.id}"></td><!--begin::User=-->
            <td class="d-flex align-items-center">
                <!--begin:: Avatar -->
                <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                    <!--                            <a th:href="@{'/admin/upms/manage/user/'+${data.id}}">-->
                    <div class="symbol-label">
                        <img th:src="@{/media/avatars/300-1.jpg}" alt="Sean Bean" class="w-100" />
                    </div>
                    <!--                            </a>-->
                </div>
                <!--end::Avatar-->
                <!--begin::User details-->
                <div class="d-flex flex-column">
                    <a href="#" class="text-gray-800 text-hover-primary mb-1" th:text="${data.realname}">Sean Bean</a>
                    <span th:text="${data.rname}">sean@dellito.com</span>
                </div>
                <!--begin::User details-->
            </td>
            <!--end::User=-->
            <!--begin::Role=-->
<!--            <td th:text="${data.district_id}"></td>-->
            <!--end::Role=-->
            <!--begin::Last login=-->
<!--            <td>-->
<!--                <div class="badge badge-light fw-bolder" th:text="${data.rotaract_id}">5 hours ago</div>-->
<!--            </td>-->
            <!--end::Last login=-->
            <!--begin::Two step=-->
            <!--                    <td>-->
            <!--                        <div class="badge fw-bolder"-->
            <!--                             th:text="${data.locked==0 ? '啟用' : '禁用'}"-->
            <!--                             th:classappend="${data.locked==0 ? 'badge-light-success' : 'badge-light-danger'}" >Enabled</div>-->
            <!--                    </td>-->
            <td th:text="${data.phoneNumber}">20 Dec 2022, 9:23 pm</td>
            <!--end::Two step=-->
            <!--begin::Joined-->
<!--            <td th:text="${data.gender}">20 Dec 2022, 9:23 pm</td>-->
            <!--end::Joined-->
            <!--begin::Action=-->
            <th:block th:each="permission : ${session.permissionAction}">
                <td th:if="${permission.id == upInfo.id and permission.action.equals( T(com.xk.upms.model.enums.PermissionAction).WRITE ) and permission.active}"
                    class="text-end">
                    <th:block th:replace="admin/_fragments/table_basic :: btn_update"></th:block>
                    <th:block th:replace="admin/_fragments/table_basic :: btn_delete"></th:block>
                </td>
            </th:block>
            <!--end::Action=-->
        </tr>
        <!--end::Table row-->
        </tbody>
        <!--end::Table body-->
    </table>
    <!--end::Table-->
</div>
<!--end::Card body-->

</html>