<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!--js資源引入-->
<th:block th:fragment="script"><!--<div>-->
    <script th:inline="javascript">
    // Insert
    $("[name='add_btn']").click(function(){
        $('#modal_name').text("新增組織");
        $("[name='id']").val(null);
        var selectElement = document.getElementById('selectMode_3').value;
        $("[name='district']").val(selectElement);
        $("[name='name']").val(null);
        $("[name='description']").val(null);
        $("[name='status']")[0].checked = true;
        $("[name='orders']").val(null);
    });


    // Update
    $("[name='add_btn']").click(function(){
    });

    // Update
    var readyToEdit = function(row) {
        $('#modal_name').text("更新組織");

        $("[name='id']").val(row[1].innerText);
        $("[name='district']").val(row[2].innerText);
        $("[name='name']").val(row[3].innerText);
        $("[name='description']").val(row[4].innerText);
        $("[name='status']")[0].checked = true;
        var btnradio_status_ = row[5].innerText == '啟用';
        $("#btnradio_status_"+btnradio_status_).prop('checked', true);
        $("[name='orders']").val(row[6].innerText);
    }

    // Init form validation rules. For more info check the FormValidation plugin's official documentation:https://formvalidation.io/
    var validator = FormValidation.formValidation( form,
        {
            fields: {
                'district': { validators: { notEmpty: {
                            message: 'Organization district is required' } } },
                'name': { validators: { notEmpty: {
                            message: 'Organization name is required' } } },
            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                bootstrap: new FormValidation.plugins.Bootstrap5({
                    rowSelector: '.fv-row',
                    eleInvalidClass: '',
                    eleValidClass: ''
                })
            }
        }
    );
    </script>
</th:block><!--</div>-->
<!--js資源引入-->


<!--begin::Modal body-->
<div th:fragment="form" class="modal-body scroll-y mx-5 mx-xl-15 my-7">
    <!--begin::Form-->
    <form id="kt_modal_input_form" class="form" th:object="${entity}" action="#"
          th:action="@{/admin/upms/manage/organization/save}" method="post">
        <input type="hidden" name="id">
        <!--begin::Input group-->
        <div class="fv-row mb-7">
            <div class="col-md">
                <!--begin::Label-->
                <label class="fs-6 fw-bold form-label mb-2">
                    <span th:text="所屬地區"></span>
                </label>
                <!--end::Label-->
                <!--begin::Input-->
                <select class="form-select form-control form-control-solid" id="inputGroupSelect_district" name="district">
                    <option value="0">請選擇</option>
                </select>
                <!--end::Input-->
            </div>
        </div>
        <!--end::Input group-->
        <!--begin::Input group-->
        <div class="fv-row mb-7">
            <div class="col-md">
                <!--begin::Label-->
                <label class="fs-6 fw-bold form-label mb-2">
                    <span class="required" th:text="所屬名稱（地區or社名）"></span>
                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="popover"
                       data-bs-trigger="hover" data-bs-html="true" data-bs-content="組織名稱為必填項"></i>
                </label>
                <!--end::Label-->
                <!--begin::Input-->
                <input class="form-control form-control-solid" placeholder="Enter a organization name" name="name"/>
                <!--end::Input-->
            </div>
        </div>
        <!--end::Input group-->
        <!--begin::Input group-->
        <div class="row fv-row mb-7">
            <div class="col-md">
                <!--begin::Label-->
                <label class="fs-6 fw-bold form-label mb-2">
                    <span th:text="更多說明"></span>
                </label>
                <!--end::Label-->
                <!--begin::Input-->
                <input class="form-control form-control-solid" placeholder="Enter a description" name="description"/>
                <!--end::Input-->
            </div>
        </div>
        <!--end::Input group-->
        <!--begin::Input group-->
        <div class="row fv-row mb-7">
            <div class="col-md">
                <!--begin::Label-->
                <label class="fs-6 fw-bold form-label mb-2">
                    <span>排序</span>
                </label>
                <!--end::Label-->
                <!--begin::Input-->
                <input class="form-control form-control-solid" placeholder="Role of orders like 350201" name="orders" type="number" min="0" max="999999" step="1"/>
                <!--end::Input-->
            </div>
            <div class="col-md">
                <!--begin::Label-->
                <label class="fs-6 fw-bold form-label mb-2">
                    <span>狀態</span>
                </label>
                <!--end::Label-->
                <!--begin::Input-->
                <div class="btn-group form-control form-control-solid mb-3 mb-lg-0" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio_status_true" id="btnradio_status_true" value="true" th:field="*{status}" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="btnradio_status_true" th:text="啟用">Radio 1</label>

                    <input type="radio" class="btn-check" name="btnradio_status_false" id="btnradio_status_false" value="false" th:field="*{status}" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio_status_false" th:text="禁用">Radio 2</label>
                </div>
                <!--end::Input-->
            </div>
        </div>
        <!--end::Input group-->
        <!--begin::Actions-->
        <div th:replace="admin/_fragments/input_basic :: Actions"></div>
        <!--end::Actions-->
    </form>
    <!--end::Form-->
</div>
<!--end::Modal body-->

</html>