<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--css資源引入-->
<th:block th:fragment="head"><!--<div>-->
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <!--General - DataTables-->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/custom/datatables/datatables.bundle.css}"/>
    <!--end::Page Vendor Stylesheets-->
</th:block><!--</div>-->
<!--css資源引入-->
<!--js資源引入-->
<th:block th:fragment="script"><!--<div>-->
    <!--begin::Page Vendors Javascript(used by this page)-->
    <!--General - DataTables-->
    <script th:src="@{/plugins/custom/datatables/datatables.bundle.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>
    <!--end::Page Vendors Javascript-->
    <!--begin::Page Custom Javascript(used by this page)-->
    <script th:src="@{/js/custom/datatables/table.js}"></script>
    <script th:src="@{/js/custom/datatables/input.js}"></script>
    <!--/*/<th:block th:replace="'admin/'+${fragmentSystem}+'/'+${fragmentPackage}+'/input' :: script">/*/-->
    <!--/*/</th:block>/*/-->
    <!--end::Page Custom Javascript-->
    <script th:inline="javascript">
        var deleteUrl = '/admin/upms/manage/organization/delete/';

        // 在點擊事件中選取下拉選單的選項
        $(document).ready(function() {
            // selectMode_2 with index selceted value
<!--            $('#kt_table').DataTable().columns(2).search(1).draw();-->

            // 假设 dropdown_DISTRICT 变量的值是用于获取数据的 code
            var categoryCode = 'dropdown_DISTRICT'; // 需要替换为实际的 code 值
            // 加载地区选项的函数
            function loadDistricts() {
                $.ajax({
                    url: '/xkRotaract/api/manage/dictionary/listDictionaryData',
                    method: 'POST',
                    data: JSON.stringify({ 'code': categoryCode }), // 修改为适合你的代码
                    processData: false,
                    contentType: 'application/json',
                    success: function(response) {
                        console.log('AJAX 请求成功：', response);

                        // 获取下拉选单元素
                        var viewDistrictSelect = $('#selectMode_2');
                        var inputDistrictSelect = $('#inputGroupSelect_district');
                        // 清空现有选项
                        viewDistrictSelect.empty();
                        inputDistrictSelect.empty();
                        // 添加默认选项
                        viewDistrictSelect.append('<option value="0">請選擇</option>');
                        inputDistrictSelect.append('<option value="0">請選擇</option>');

                        // 遍历响应数据并添加到下拉选单中
                        if(response) {
                            response.forEach(function(district) {
                                viewDistrictSelect.append(
                                    `<option value="${district.code}">${district.description}</option>`
                                );
                                inputDistrictSelect.append(
                                    `<option value="${district.code}">${district.description}</option>`
                                );
                            });
                        }

<!--                        // 设置默认选中项-->
<!--                        var selectedDistrictId = $('input[name="district_id"]').val();-->
<!--                        if (selectedDistrictId) {-->
<!--                            $('#selectMode_2').val(selectedDistrictId).trigger('change'); // 触发变化以加载扶青社地區-->
<!--                        }-->
                    },
                    error: function(xhr, status, error) {
                        console.error('AJAX 请求失败：', error);
                    }
                });
            }
            // 初始化加载地区
            loadDistricts();
        });
    </script>
</th:block><!--</div>-->
<!--js資源引入-->


<div th:fragment="list" id="kt_content_container" class="container-fluid">
    <!--begin::Card-->
    <div class="card">
        <!--begin::Card header-->
        <div class="card-header border-0 pt-6">
            <!--begin::Card title-->
            <div class="card-title">
                <!--begin::Select System-->
                <div class="d-flex align-items-center position-relative my-1">
                    <!--begin::Select-->
                    <select class="form-select form-select-custom border-0 fw-bolder selectMode" id="selectMode_2" data-control="select2" data-placeholder="Select Project" data-hide-search="true">
                        <option value="0">請選擇</option>
                    </select>
                    <!--end::Select-->
                </div>
                <!--end::Select System-->
                <!--begin::Search-->
                <th:block th:replace="admin/_fragments/table_basic :: btn_search"></th:block>
                <!--end::Search-->
            </div>
            <!--begin::Card title-->
            <!--begin::Card toolbar-->
            <div th:replace="admin/_fragments/table_basic :: Card_toolbar"></div>
            <!--end::Card toolbar-->
        </div>
        <!--end::Card header-->
        <div th:replace="'admin/'+${fragmentSystem}+'/'+${fragmentPackage}+'/view' :: table"></div>
        <!--begin::Card body-->
        <!--end::Card body-->
    </div>
    <!--end::Card-->

    <!--begin::Modal - Add task-->
    <div th:replace="admin/_fragments/input_basic :: basic"></div>
    <!--end::Modal - Add task-->
</div>


<!--begin::Card toolbar-->
<div th:fragment="table" class="card-body py-4">
    <!--begin::Table-->
    <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table">
        <!--begin::Table head-->
        <thead>
        <!--begin::Table row-->
        <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
            <th class="w-10px pe-2">
                <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                    <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_table .form-check-input" value="1"/>
                </div>
            </th>
            <!--                    <th th:each="i : ${page_thead}" class="min-w-125px" th:text="${i}">Name</th>-->
            <th style="display:none" class="min-w-99px">ID</th>
            <th class="min-w-99px">所屬地區</th>
            <th class="min-w-99px">組織名稱</th>
            <th class="min-w-299px">說明</th>
            <th class="min-w-99px">狀態</th>
            <th class="min-w-99px">排序</th>
            <th class="text-end min-w-100px">Actions</th>
        </tr>
        <!--end::Table row-->
        </thead>
        <!--end::Table head-->
        <!--begin::Table body-->
        <tbody class="text-gray-600 fw-bold">
        <!--begin::SubTable template-->
            <tr th:each="data : ${page_list}">
                <td>
                    <div class="form-check form-check-sm form-check-custom form-check-solid">
                        <input class="form-check-input" type="checkbox" value="1"/>
                    </div>
                </td>
                <td style="display:none" class="id" th:text="${data.id}"></td>
                <td th:text="${data.district}"></td>
                <td>
                    <div class="d-flex flex-column">
                        <a th:href="@{'/admin/upms/manage/organization/'+${data.id}}" class="text-gray-800 text-hover-primary mb-1" th:text="${data.name}"></a>
                    </div>
                </td>
                <td th:text="${data.description}"></td>
                <td>
                    <div class="badge fw-bolder"
                         th:text="${data.status==true ? '啟用' : '禁用'}" th:value="${data.status}"
                         th:classappend="${data.status==true ? 'badge-light-success' : 'badge-light-danger'}" >Enabled</div>
                </td>
                <td th:text="${data.orders}"></td>
                <!--begin::Action=-->
                <td class="text-end">
                    <th:block th:replace="admin/_fragments/table_basic :: btn_update"></th:block>
                    <th:block th:replace="admin/_fragments/table_basic :: btn_delete"></th:block>
                </td>
                <!--end::Action=-->
            </tr>
        <!--end::SubTable template-->
        </tbody>
        <!--end::Table body-->
    </table>
    <!--end::Table-->
</div>
<!--end::Card toolbar-->

</html>