<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--css資源引入-->
<th:block th:fragment="head"><!--<div>-->
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <!--General - DataTables-->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/custom/datatables/datatables.bundle.css}"/>
    <!--end::Page Vendor Stylesheets-->
</th:block><!--</div>-->
<!--css資源引入-->
<!--js資源引入-->
<th:block th:fragment="script"><!--<div>-->
    <!--begin::Page Vendors Javascript(used by this page)-->
    <!--General - DataTables-->
    <script th:src="@{/plugins/custom/datatables/datatables.bundle.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>
    <!--end::Page Vendors Javascript-->
    <!--begin::Page Custom Javascript(used by this page)-->
    <script th:src="@{/js/custom/datatables/table.js}"></script>
    <script th:src="@{/js/custom/datatables/input.js}"></script>
    <!--/*/<th:block th:replace="'admin/'+${fragmentSystem}+'/'+${fragmentPackage}+'/input' :: script">/*/-->
    <!--/*/</th:block>/*/-->
    <!--end::Page Custom Javascript-->
    <script th:inline="javascript">
        var deleteUrl = '/admin/upms/manage/permissions/delete/';
        // 在點擊事件中選取下拉選單的選項
        $(document).ready(function(){
            // selectMode_3 with index selceted value
            $('#kt_table').DataTable().columns(3).search(1).draw();
        });
    </script>
</th:block><!--</div>-->
<!--js資源引入-->


<div th:fragment="view" id="kt_content_container" class="container-fluid">
    <!--begin::Card-->
    <div class="card">
        <!--begin::Card header-->
        <div class="card-header border-0 pt-6">
            <!--begin::Card title-->
            <div class="card-title">
                <!--begin::Select System-->
                <div class="d-flex align-items-center position-relative my-1">
<!--                    <div class="aside-toolbar py-5">-->
<!--                        <div class="d-flex align-items-center flex-stack">-->
                            <!--begin::Select-->
                            <select class="form-select form-select-custom border-0 fw-bolder selectMode" id="selectMode_3" data-control="select2" data-placeholder="Select Project" data-hide-search="true">
                                <option th:each="i : ${select_system}" th:value="${i.id}" th:text="${i.name} + ' - ' + ${i.title}"></option>
                            </select>
                            <!--end::Select-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <!--end::Select System-->
                <!--begin::Search-->
                <div class="d-flex align-items-center position-relative my-1">
                    <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                    <span class="svg-icon svg-icon-1 position-absolute ms-6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
                                  transform="rotate(45 17.0365 15.1223)" fill="black"/>
                            <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                                  fill="black"/>
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                    <input type="text" data-kt-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search"/>
                </div>
                <!--end::Search-->
            </div>
            <!--begin::Card title-->
            <!--begin::Card toolbar-->
            <div class="card-toolbar">
                <!--begin::Toolbar-->
                <div class="d-flex justify-content-end" data-kt-table-toolbar="base">
                    <!--begin::Add user-->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_input" name="add_btn">
                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                        <span class="svg-icon svg-icon-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"/>
                                <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"/>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->新增點我
                    </button>
                    <!--end::Add user-->
                </div>
                <!--end::Toolbar-->
                <!--begin::Group actions-->
                <div class="d-flex justify-content-end align-items-center d-none" data-kt-table-toolbar="selected">
                    <div class="fw-bolder me-5">
                        <span class="me-2" data-kt-table-select="selected_count"></span>Selected
                    </div>
                    <button type="button" class="btn btn-danger" data-kt-table-select="delete_selected">Delete
                        Selected
                    </button>
                </div>
                <!--end::Group actions-->
            </div>
            <!--end::Card toolbar-->
        </div>
        <!--end::Card header-->
        <!--begin::Card body-->
        <div class="card-body py-4">
            <!--begin::Table-->
            <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table">
                <!--begin::Table head-->
                <thead>
                    <!--begin::Table row-->
                    <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                        <th class="w-10px pe-2">
                            <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                                <input class="form-check-input" type="checkbox" data-kt-check="true"
                                       data-kt-check-target="#kt_table .form-check-input" value="1"/>
                            </div>
                        </th>
                        <th class="min-w-99px"></th>
                        <!--                    <th th:each="i : ${page_thead}" class="min-w-125px" th:text="${i}">Name</th>-->
                        <th style="display:none" class="min-w-99px">流水號</th>
                        <th style="display:none" class="min-w-99px">所屬系統</th>
                        <th style="display:none" class="min-w-99px">所屬上層</th>
                        <th class="min-w-99px">名稱</th>
                        <th style="display:none" class="min-w-99px">類型</th>
                        <th class="min-w-99px">權限值</th>
                        <th class="min-w-99px">路徑</th>
    <!--                    <th class="min-w-99px">圖標</th>-->
                        <th class="min-w-99px">狀態</th>
                        <th class="text-end min-w-99px">創建時間</th>
                        <th style="display:none" class="min-w-99px">排序</th>
                        <th class="text-end min-w-100px">Actions</th>
                    </tr>
                    <!--end::Table row-->
                </thead>
                <!--end::Table head-->
                <!--begin::Table body-->
                <tbody class="text-gray-600 fw-bold">
                    <!--begin::SubTable template-->
                    <th:block th:each="data : ${page_list}">
                        <tr>
                            <td class="id">
                                <div class="form-check form-check-sm form-check-custom form-check-solid">
<!--                                    <input class="form-check-input" type="checkbox" value="1"/>-->
                                    <input class="form-check-input" type="checkbox" th:value="${data.id}"/>
                                </div>
                            </td>
                            <!--begin::Actions-->
                            <td>
                                <button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary toggle h-25px w-25px"
                                        data-kt-docs-datatable-subtable="expand_row">
                                    <span class="svg-icon svg-icon-3 m-0 toggle-off">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect opacity="0.5" x="11" y="18" width="12" height="2" rx="1" transform="rotate(-90 11 18)" fill="currentColor"></rect>
                                            <rect x="6" y="11" width="12" height="2" rx="1" fill="currentColor"></rect>
                                        </svg>
                                    </span>
                                    <span class="svg-icon svg-icon-3 m-0 toggle-on">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect x="6" y="11" width="12" height="2" rx="1" fill="currentColor"></rect>
                                        </svg>
                                    </span>
                                </button>
                            </td>
                            <!--end::Actions-->
                            <td style="display:none" class="id" th:text="${data.id}"></td>
                            <td style="display:none" class="systemId" th:text="${data.systemId}"></td>
                            <td style="display:none" th:text="${data.pid}"></td>
                            <td th:text="${data.name}"></td>
                            <td style="display:none" th:text="${data.type}"></td>
                            <td th:text="${data.permissionValue}"></td>
                            <td th:text="${data.uri}"></td>
<!--                            <td th:text="${data.icon}"></td>-->
                            <td>
                                <div class="badge fw-bolder"
                                     th:text="${data.status==true ? '啟用' : '禁用'}" th:value="${data.status}"
                                     th:classappend="${data.status==true ? 'badge-light-success' : 'badge-light-danger'}" >Enabled</div>
                            </td>
                            <td>
                                <div class="badge badge-light fw-bolder text-end" th:text="${#dates.format(data.createTime, 'dd-MMM-yyyy, HH:mm a')}">5 hours ago</div>
                            </td>
                            <!--                    <td style="display:none" th:text="${data.fragmentName}"></td>-->
                            <!--                    <td th:text="${data.fragmentPackage}"></td>-->
                            <td style="display:none" th:text="${data.orders}"></td>
                            <!--begin::Action=-->
                            <td class="text-end">
                                <!--begin::Update-->
                                <button class="btn btn-icon btn-active-light-primary w-30px h-30px me-3"
                                        data-kt-table-filter="update_row" data-bs-toggle="modal"
                                        data-bs-target="#kt_modal_input">
                                    <!--begin::Svg Icon | path: icons/duotune/general/gen019.svg-->
                                    <span class="svg-icon svg-icon-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                 fill="none">
                                                <path d="M17.5 11H6.5C4 11 2 9 2 6.5C2 4 4 2 6.5 2H17.5C20 2 22 4 22 6.5C22 9 20 11 17.5 11ZM15 6.5C15 7.9 16.1 9 17.5 9C18.9 9 20 7.9 20 6.5C20 5.1 18.9 4 17.5 4C16.1 4 15 5.1 15 6.5Z"
                                                      fill="black"/>
                                                <path opacity="0.3"
                                                      d="M17.5 22H6.5C4 22 2 20 2 17.5C2 15 4 13 6.5 13H17.5C20 13 22 15 22 17.5C22 20 20 22 17.5 22ZM4 17.5C4 18.9 5.1 20 6.5 20C7.9 20 9 18.9 9 17.5C9 16.1 7.9 15 6.5 15C5.1 15 4 16.1 4 17.5Z"
                                                      fill="black"/>
                                            </svg>
                                        </span>
                                    <!--end::Svg Icon-->
                                </button>
                                <!--end::Update-->
                                <!--begin::Delete-->
                                <button class="btn btn-icon btn-active-light-primary w-30px h-30px"
                                        data-kt-table-filter="delete_row">
                                    <!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
                                    <span class="svg-icon svg-icon-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                 fill="none">
                                                <path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z"
                                                      fill="black"/>
                                                <path opacity="0.5"
                                                      d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z"
                                                      fill="black"/>
                                                <path opacity="0.5"
                                                      d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z"
                                                      fill="black"/>
                                            </svg>
                                        </span>
                                    <!--end::Svg Icon-->
                                </button>
                                <!--end::Delete-->
                            </td>
                            <!--end::Action=-->
                        </tr>
                        <tr th:each="child : ${data.children}" data-kt-docs-datatable-subtable="subtable_template" th:class="'subtable_template_'+${data.id}" style="display:none" >
                            <td>
                                <div class="form-check form-check-sm form-check-custom form-check-solid">
                                    <input class="form-check-input" type="checkbox" th:value="${child.id}"/>
                                </div>
                            </td>
                            <td></td>
                            <td style="display:none" class="id" th:text="${child.id}"></td>
                            <td style="display:none" class="systemId" th:text="${child.systemId}"></td>
                            <td style="display:none" th:text="${child.pid}"></td>
                            <td th:text="${child.name}"></td>
                            <td style="display:none" th:text="${child.type}"></td>
                            <td th:text="${child.permissionValue}"></td>
                            <td th:text="${child.uri}"></td>
<!--                            <td th:text="${child.icon}"></td>-->
                            <td>
                                <div class="badge fw-bolder"
                                     th:text="${child.status==true ? '啟用' : '禁用'}" th:value="${child.status}"
                                     th:classappend="${child.status==true ? 'badge-light-success' : 'badge-light-danger'}" >Enabled</div>
                            </td>
                            <td>
                                <div class="badge badge-light fw-bolder text-end" th:text="${#dates.format(data.createTime, 'dd-MMM-yyyy, HH:mm a')}">5 hours ago</div>
                            </td>
                            <!--                    <td style="display:none" th:text="${child.fragmentName}"></td>-->
                            <!--                    <td th:text="${child.fragmentPackage}"></td>-->
                            <td style="display:none" th:text="${child.orders}"></td>
                            <!--begin::Action=-->
                            <td class="text-end">
                                <!--begin::Update-->
                                <button class="btn btn-icon btn-active-light-primary w-30px h-30px me-3"
                                        data-kt-table-filter="update_row" data-bs-toggle="modal"
                                        data-bs-target="#kt_modal_input">
                                    <!--begin::Svg Icon | path: icons/duotune/general/gen019.svg-->
                                    <span class="svg-icon svg-icon-3">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                     fill="none">
                                                    <path d="M17.5 11H6.5C4 11 2 9 2 6.5C2 4 4 2 6.5 2H17.5C20 2 22 4 22 6.5C22 9 20 11 17.5 11ZM15 6.5C15 7.9 16.1 9 17.5 9C18.9 9 20 7.9 20 6.5C20 5.1 18.9 4 17.5 4C16.1 4 15 5.1 15 6.5Z"
                                                          fill="black"/>
                                                    <path opacity="0.3"
                                                          d="M17.5 22H6.5C4 22 2 20 2 17.5C2 15 4 13 6.5 13H17.5C20 13 22 15 22 17.5C22 20 20 22 17.5 22ZM4 17.5C4 18.9 5.1 20 6.5 20C7.9 20 9 18.9 9 17.5C9 16.1 7.9 15 6.5 15C5.1 15 4 16.1 4 17.5Z"
                                                          fill="black"/>
                                                </svg>
                                            </span>
                                    <!--end::Svg Icon-->
                                </button>
                                <!--end::Update-->
                                <!--begin::Delete-->
                                <button class="btn btn-icon btn-active-light-primary w-30px h-30px"
                                        data-kt-table-filter="delete_row">
                                    <!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
                                    <span class="svg-icon svg-icon-3">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                     fill="none">
                                                    <path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z"
                                                          fill="black"/>
                                                    <path opacity="0.5"
                                                          d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z"
                                                          fill="black"/>
                                                    <path opacity="0.5"
                                                          d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z"
                                                          fill="black"/>
                                                </svg>
                                            </span>
                                    <!--end::Svg Icon-->
                                </button>
                                <!--end::Delete-->
                            </td>
                            <!--end::Action=-->
                        </tr>
                    </th:block>
                    <!--end::SubTable template-->
                </tbody>
                <!--end::Table body-->
            </table>
            <!--end::Table-->
        </div>
        <!--end::Card body-->
    </div>
    <!--end::Card-->

    <!--begin::Modal - Add task-->
    <div th:replace="'admin/'+${fragmentSystem}+'/'+${fragmentPackage}+'/input' :: input"></div>
    <!--end::Modal - Add task-->
</div>

</html>