ㄌ<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--css資源引入-->
<th:block th:fragment="head"><!--<div>-->
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <!--General - DataTables-->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/custom/datatables/datatables.bundle.css}"/>
    <!--end::Page Vendor Stylesheets-->
</th:block><!--</div>-->
<!--css資源引入-->
<!--js資源引入-->
<th:block th:fragment="script"><!--<div>-->
    <!--begin::Page Vendors Javascript(used by this page)-->
    <!--General - DataTables-->
    <script th:src="@{/plugins/custom/datatables/datatables.bundle.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>
    <!--end::Page Vendors Javascript-->
    <!--begin::Page Custom Javascript(used by this page)-->
    <script th:src="@{/js/custom/datatables/table.js}"></script>
    <script th:src="@{/js/custom/datatables/shared.js}"></script>
    <script th:src="@{/js/custom/datatables/input.js}"></script>
    <!--/*/<th:block th:replace="'admin/'+${fragmentSystem}+'/'+${fragmentPackage}+'/input' :: script">/*/-->
    <!--/*/</th:block>/*/-->
    <!--end::Page Custom Javascript-->
    <script th:inline="javascript">
        var deleteUrl = '/admin/upms/manage/permissions/delete/';

        // 在點擊事件中選取下拉選單的選項
        $(document).ready(function(){
            // selectMode_3 with index selceted value
            $('#kt_table').DataTable().columns(3).search(1).draw();
        });
    </script>
</th:block><!--</div>-->
<!--js資源引入-->


<div th:fragment="list" id="kt_content_container" class="container-fluid">
    <!--begin::Card-->
    <div class="card">
        <!--begin::Card header-->
        <div class="card-header border-0 pt-6">
            <!--begin::Card title-->
            <div class="card-title">
                <!--begin::Select System-->
                <div class="d-flex align-items-center position-relative my-1">
                    <!--begin::Select-->
                    <select class="form-select form-select-custom border-0 fw-bolder selectMode" id="selectMode_3" data-control="select2" data-placeholder="Select Project" data-hide-search="true">
                        <option th:each="i : ${select_system}"
                                th:value="${i.id}"
                                th:text="|${i.name} - ${i.title}|"
                                th:selected="${i.id} == ${selected_system}">
                        </option>
                    </select>
                    <!--end::Select-->
                </div>
                <!--end::Select System-->
                <!--begin::Search-->
                <th:block th:replace="admin/_fragments/table_basic :: btn_search"></th:block>
                <!--end::Search-->
            </div>
            <!--begin::Card title-->
            <!--begin::Card toolbar-->
            <div th:replace="admin/_fragments/table_basic :: Card_toolbar"></div>
            <!--end::Card toolbar-->
        </div>
        <!--end::Card header-->
        <div th:replace="'admin/'+${fragmentSystem}+'/'+${fragmentPackage}+'/view' :: table"></div>
        <!--begin::Card body-->
        <!--end::Card body-->
    </div>
    <!--end::Card-->

    <!--begin::Modal - Add task-->
    <div th:replace="admin/_fragments/input_basic :: basic"></div>
    <!--end::Modal - Add task-->
</div>


<!--begin::Card toolbar-->
<div th:fragment="table" class="card-body py-4">
    <!--begin::Table-->
    <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table">
        <!--begin::Table head-->
        <thead>
        <!--begin::Table row-->
        <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
            <th class="w-10px pe-2">
                <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                    <input class="form-check-input" type="checkbox" data-kt-check="true"
                           data-kt-check-target="#kt_table .form-check-input" value="1"/>
                </div>
            </th>
            <th class="min-w-99px"></th>
            <!--                    <th th:each="i : ${page_thead}" class="min-w-125px" th:text="${i}">Name</th>-->
            <th style="display:none" class="min-w-99px">流水號</th>
            <th style="display:none" class="min-w-99px">所屬系統</th>
            <th style="display:none" class="min-w-99px">所屬上層</th>
            <th class="min-w-99px">名稱</th>
            <th style="display:none" class="min-w-99px">類型</th>
            <th class="min-w-99px">權限值</th>
            <th class="min-w-99px">路徑</th>
            <!--                    <th class="min-w-99px">圖標</th>-->
            <th class="min-w-99px">狀態</th>
            <th class="text-end min-w-99px">創建時間</th>
            <th style="display:none" class="min-w-99px">排序</th>
            <th:block th:fragment="btn_delete" th:each="permission : ${session.permissionAction}">
                <th th:if="${permission.id == upInfo.id and permission.action == T(com.xk.upms.model.enums.PermissionAction).WRITE and permission.active}"
                    class="text-end min-w-100px">Actions</th>
            </th:block>
        </tr>
        <!--end::Table row-->
        </thead>
        <!--end::Table head-->
        <!--begin::Table body-->
        <tbody class="text-gray-600 fw-bold">
        <!--begin::SubTable template-->
        <th:block th:each="data : ${page_list}">
            <tr>
                <td class="id">
                    <div class="form-check form-check-sm form-check-custom form-check-solid">
                        <!--                                    <input class="form-check-input" type="checkbox" value="1"/>-->
                        <input class="form-check-input" type="checkbox" th:value="${data.id}"/>
                    </div>
                </td>
                <!--begin::Actions-->
                <td>
                    <button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary toggle h-25px w-25px"
                            data-kt-docs-datatable-subtable="expand_row">
                        <span class="svg-icon svg-icon-3 m-0 toggle-off">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="11" y="18" width="12" height="2" rx="1" transform="rotate(-90 11 18)" fill="currentColor"></rect>
                                <rect x="6" y="11" width="12" height="2" rx="1" fill="currentColor"></rect>
                            </svg>
                        </span>
                        <span class="svg-icon svg-icon-3 m-0 toggle-on">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="6" y="11" width="12" height="2" rx="1" fill="currentColor"></rect>
                            </svg>
                        </span>
                    </button>
                </td>
                <!--end::Actions-->
                <td style="display:none" class="id" th:text="${data.id}"></td>
                <td style="display:none" class="systemId" th:text="${data.systemId}"></td>
                <td style="display:none" th:text="${data.pid}"></td>
                <td th:text="${data.name}"></td>
                <td style="display:none" th:text="${data.type}"></td>
                <td th:text="${data.permissionValue}"></td>
                <td th:text="${data.uri}"></td>
                <!--                            <td th:text="${data.icon}"></td>-->
                <td>
                    <div class="badge fw-bolder"
                         th:text="${data.status==true ? '啟用' : '禁用'}" th:value="${data.status}"
                         th:classappend="${data.status==true ? 'badge-light-success' : 'badge-light-danger'}" >Enabled</div>
                </td>
                <td>
                    <div class="badge badge-light fw-bolder text-end" th:text="${#dates.format(data.createTime, 'dd-MMM-yyyy, HH:mm a')}">5 hours ago</div>
                </td>
                <!--                    <td style="display:none" th:text="${data.fragmentName}"></td>-->
                <!--                    <td th:text="${data.fragmentPackage}"></td>-->
                <td style="display:none" th:text="${data.orders}"></td>
                <!--begin::Action=-->
                <th:block th:each="permission : ${session.permissionAction}">
                    <td th:if="${permission.id == upInfo.id and permission.action == T(com.xk.upms.model.enums.PermissionAction).WRITE and permission.active}"
                        class="text-end">
                        <th:block th:replace="admin/_fragments/table_basic :: btn_update"></th:block>
                        <th:block th:replace="admin/_fragments/table_basic :: btn_delete"></th:block>
                    </td>
                </th:block>
                <!--end::Action=-->
            </tr>
            <tr th:each="child : ${data.children}" data-kt-docs-datatable-subtable="subtable_template" th:class="'subtable_template_'+${data.id}" style="display:none" >
                <td>
                    <div class="form-check form-check-sm form-check-custom form-check-solid">
                        <input class="form-check-input" type="checkbox" th:value="${child.id}"/>
                    </div>
                </td>
                <td></td>
                <td style="display:none" class="id" th:text="${child.id}"></td>
                <td style="display:none" class="systemId" th:text="${child.systemId}"></td>
                <td style="display:none" th:text="${child.pid}"></td>
                <td th:text="${child.name}"></td>
                <td style="display:none" th:text="${child.type}"></td>
                <td th:text="${child.permissionValue}"></td>
                <td th:text="${child.uri}"></td>
                <!--                            <td th:text="${child.icon}"></td>-->
                <td>
                    <div class="badge fw-bolder"
                         th:text="${child.status==true ? '啟用' : '禁用'}" th:value="${child.status}"
                         th:classappend="${child.status==true ? 'badge-light-success' : 'badge-light-danger'}" >Enabled</div>
                </td>
                <td>
                    <div class="badge badge-light fw-bolder text-end" th:text="${#dates.format(data.createTime, 'dd-MMM-yyyy, HH:mm a')}">5 hours ago</div>
                </td>
                <!--                    <td style="display:none" th:text="${child.fragmentName}"></td>-->
                <!--                    <td th:text="${child.fragmentPackage}"></td>-->
                <td style="display:none" th:text="${child.orders}"></td>
                <!--begin::Action=-->
                <th:block th:each="permission : ${session.permissionAction}">
                    <td th:if="${permission.id == upInfo.id and permission.action == T(com.xk.upms.model.enums.PermissionAction).WRITE and permission.active}"
                        class="text-end">
                        <th:block th:replace="admin/_fragments/table_basic :: btn_update"></th:block>
                        <th:block th:replace="admin/_fragments/table_basic :: btn_delete"></th:block>
                    </td>
                </th:block>
                <!--end::Action=-->
            </tr>
        </th:block>
        <!--end::SubTable template-->
        </tbody>
        <!--end::Table body-->
    </table>
    <!--end::Table-->
</div>
<!--end::Card toolbar-->

</html>