<!DOCTYPE html>
<!-- /good_html_v1.1.4/theme/landing.html -->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--begin::Head-->
<head>
    <!--/*/<th:block th:replace="_fragments/_fragments :: head">/*/-->
    <!--/*/</th:block>/*/-->

    <!--begin::Vendor Stylesheets(used for this page only)-->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/custom/evocalendar/evo-calendar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/custom/datatables/datatables.bundle.css}"/>
    <!--end::Vendor Stylesheets-->
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_app_body" data-bs-spy="scroll" data-bs-target="#kt_landing_menu" data-bs-offset="200" data-kt-app-layout="light-sidebar" class="body-bg position-relative app-blank">
<!--begin::Theme mode setup on page load-->
<script>var defaultThemeMode = "light"; var themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-bs-theme-mode")) { themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if ( localStorage.getItem("data-bs-theme") !== null ) { themeMode = localStorage.getItem("data-bs-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-bs-theme", themeMode); }</script>
<!--end::Theme mode setup on page load-->
<!--begin::Root-->
<div class="d-flex flex-column flex-root" id="kt_app_root">
    <!--begin::Header Section-->
<!--    <div class="d-flex flex-column flex-row-fluid">-->
<!--        Rotaract Kaleidoscope-->
<!--        Rotaract 萬花筒-->
        <!--/*/<th:block th:replace="_fragments/_fragments :: navbar(iSearch='false')">/*/-->
        <!--/*/</th:block>/*/-->
<!--    </div>-->
    <!--end::Header Section-->
    <!--begin::How It Works Section-->
    <div class="mb-9 pt-15 z-index-2">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Container-->
            <div id="kt_content_container" class="container-fluid">
                <div id="calendar"></div>
            </div>
            <!--end::Container-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::How It Works Section-->
    <!--begin::Footer Section-->
    <div class="mb-0">
        <!--begin::Wrapper-->
        <div class="landing-dark-bg pt-lg-20 pt-5">
            <!--begin::Container-->
            <div class="container">
                <!--begin::Row-->
                <!--end::Row-->
            </div>
            <!--end::Container-->
            <!--begin::Separator-->
            <div class="separator separator-solid"></div>
            <!--end::Separator-->
            <!--begin::Container-->
            <div class="container">
                <!--begin::Wrapper-->
                <div class="d-flex flex-column flex-md-row flex-stack py-8">
                    <!--begin::Copyright-->
                    <div class="d-flex align-items-center order-2 order-md-1">
                        <!--begin::Logo-->
<!--                        <a href="landing.html">-->
<!--                            <img alt="Logo" src="assets/media/logos/default.svg" class="h-15px h-md-25px" />-->
<!--                        </a>-->
                        <!--end::Logo image-->
                        <!--begin::Logo image-->
                        <span class="mx-5 fs-6 fw-semibold text-gray-700 pt-1" href="https://keenthemes.com">Copyright © XploreKaleido 2024</span>
                        <!--end::Logo image-->
                    </div>
                    <!--end::Copyright-->
                    <!--begin::Menu-->
<!--                    <ul class="menu menu-gray-700 menu-hover-primary fw-semibold fs-5 fs-md-5 order-1 mb-5 mb-md-0">-->
<!--                        <li class="menu-item">-->
<!--                            <a href="https://keenthemes.com" target="_blank" class="menu-link px-2">About</a>-->
<!--                        </li>-->
<!--                        <li class="menu-item">-->
<!--                            <a href="https://devs.keenthemes.com" target="_blank" class="menu-link px-2">Support</a>-->
<!--                        </li>-->
<!--                        <li class="menu-item">-->
<!--                            <a href="https://themes.getbootstrap.com/product/good-bootstrap-5-admin-dashboard-template" target="_blank" class="menu-link px-2">Purchase</a>-->
<!--                        </li>-->
<!--                    </ul>-->
                    <!--end::Menu-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Footer Section-->
</div>
<!--end::Root-->


<!--begin::Javascript-->
<!--/*/<th:block th:replace="_fragments/_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->
<script>
    var defaultTheme = getRandom(4);
	function getRandom(a) {
    return Math.floor(Math.random() * a);
}
var today = new Date();
var week_date = [];

  $("#calendar").evoCalendar({
    theme: 'Royal Navy', // 可选主题
    language: 'tw', // 支持多语言
todayHighlight: true,

        format: "MM dd, yyyy",
        titleFormat: "MM",
        firstDayOfWeek: 1,
        calendarEvents: [{
            id: "d8jai7s",
            name: "Author's Birthday",
            description: "Author's note: Thank you for using EvoCalendar! :)",
            date: "October/15/2024",
            type: "birthday",
            everyYear: !0
        }, {
            id: "sKn89hi",
            name: "1-Week Coding Bootcamp",
            description: "Lorem ipsum dolor sit amet.",
            badge: "5-day event",
            date: today,
            type: "event",
            everyYear: !0
        }, {
            id: "in8bha4",
            name: "Holiday #2",
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
            date: today,
            type: "holiday"
        }, {
            id: "in8bha4",
            name: "Event #2",
            date: today,
            type: "event"
        }]
    });
</script>

<!--begin::Vendors Javascript(used for this page only)-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script th:src="@{/plugins/custom/evocalendar/evo-calendar.js}"></script>
<script th:src="@{/plugins/custom/datatables/datatables.bundle.js}"></script>
<!--end::Vendors Javascript-->
<!--begin::Page Custom Javascript(used by this page)-->
<script th:src="@{/js/custom/datatables/table.js}"></script>
<script th:src="@{/js/custom/datatables/shared.js}"></script>
<!--end::Page Custom Javascript-->
<!--end::Javascript-->
</body>
<!--end::Body-->
</html>