<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--js資源引入-->
<th:block th:fragment="script"><!--<div>-->
    <script th:inline="javascript">

    $(document).ready(function() {
        const element = document.getElementById('kt_modal_input');
        const form = element.querySelector('#kt_modal_input_form'); // 确保模态框中的表单存在
        const modal = new bootstrap.Modal(element);

        function init() {
            if (element) {
                modal.show();  // 显示模态框
            } else {
                console.error("Modal element with ID 'kt_modal_input' not found.");
            }

            // Close button handler
            const closeButton = element.querySelector('[data-kt-modal-action="close"]');
            closeButton.addEventListener('click', e => {
                e.preventDefault();
                modal.hide(); // Hide modal
            });
        }

        init();  // 页面加载时初始化并显示模态框
    });

    </script>
</th:block><!--</div>-->
<!--js資源引入-->



<div th:fragment="input" class="modal fade" id="kt_modal_input" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header">
                <!--begin::Modal title-->
                <h2 class="fw-bolder" id="modal_name">快訊- BETA Version Coming...</h2>
                <!--end::Modal title-->
                <!--begin::Close-->
                <th:block th:replace="admin/_fragments/input_basic :: btn_close"></th:block>
                <!--end::Close-->
            </div>
            <!--end::Modal header-->


            <!--begin::Modal body-->
            <div id="ciSection" class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                <p>想快速了解，為什麼是萬花筒？</p>
                <p>
                    請點擊連結：
                    <a href="https://www.beautiful.ai/player/-O5Hfov4O_dlNb5mK3wp/Rotaract-Kaleido" target="_blank">
                        Rotaract Kaleido
                    </a>
                </p>

                <p><strong>BETA 版，開放功能：</strong></p>
                <ul>
                    <li><strong>BizMap</strong> - 玩轉扶青地圖，發現更多身邊的扶青產業鏈，讓異業合作更加便捷。</li>
                    <li><strong>Kalendar</strong> - 跨地區行事曆整合，提供透明化的報名管道，輕鬆掌握活動資訊。</li>
                    <li><strong>Admin</strong> - 快速註冊，需扶青社友推薦，杜絕閒置會員，共創活力社群！</li>
                        <br>＊快私訊 IG <a href="https://www.instagram.com/rotaractkaleido" target="_blank">@rotaractkaleido</a>，獲得推薦碼。
                    </li>
                </ul>

                <p>期望能在 2025 Season1 正式為各位提供服務。</p>
                <p>我們也想快速完成，需要各位大力協助，若有任何建議，歡迎提供寶貴的想法：</p>
                <ul>
                    <li>私訊 IG <a href="https://www.instagram.com/rotaractkaleido" target="_blank">@rotaractkaleido</a></li>
                    <li>或是 email 到：<a href="mailto:system.xk2022@gmail.com">system.xk2022@gmail.com</a></li>
                </ul>
                <!--end::Form-->

                <!--begin::Row-->
                <div class="row mb-md-20 custom-row bg-dark">
                    <div class="text-white text-center">兩步驟快速產生桌面ＡＰＰ</div>
                    <!--begin::Col-->
                    <div class="col-sm-6">
                        <!--begin::Story-->
                        <div class="text-center mb-10 mb-md-0">
                            <!--begin::Illustration-->
                            <img th:src="@{/media/illustrations/easy/makeAPP001.png}" style="height: 299px;" alt="" />
                            <!--end::Illustration-->
                        </div>
                        <!--end::Story-->
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-sm-6">
                        <!--begin::Story-->
                        <div class="text-center mb-10 mb-md-0">
                            <!--begin::Illustration-->
                            <img th:src="@{/media/illustrations/easy/makeAPP002.png}" style="height: 299px;" alt="" />
                            <!--end::Illustration-->
                        </div>
                        <!--end::Story-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--begin::Form-->
            </div>
            <!--end::Modal body-->

        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>



</html>