<div th:fragment="_aside_menu" class="aside-menu flex-column-fluid" xmlns:th="http://www.w3.org/1999/xhtml">
    <!--begin::Aside Menu-->
    <div class="hover-scroll-overlay-y px-2 my-5 my-lg-5" id="kt_aside_menu_wrapper" data-kt-scroll="true"
         data-kt-scroll-height="auto"
         data-kt-scroll-dependencies="{default: '#kt_aside_toolbar, #kt_aside_footer', lg: '#kt_header, #kt_aside_toolbar, #kt_aside_footer'}"
         data-kt-scroll-offset="0">
        <!--begin::Menu-->
        <div class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 fw-bold"
             id="#kt_aside_menu" data-kt-menu="true">
            <!--begin::Menu::Dashboards-->
            <div class="menu-item">
                <a class="menu-link" th:href="@{/admin/index}">
                        <span class="menu-icon">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
                            <span class="svg-icon svg-icon-5">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="black"/>
                                    <path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="black"/>
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </span>
                    <span class="menu-title">首頁</span>
                </a>
            </div>
            <!--end::Menu::Dashboards-->
            <th:block th:each="menu : ${left_tree}">
                <!--begin::Menu::Dashboards-->
                <div th:if="${menu.children == null}" class="menu-item">
                    <a class="menu-link" href="https://preview.keenthemes.com/good/layout-builder.html"
                       th:href="@{${menu.uri}}" th:classappend="${info.orders == menu.orders} ? 'active'">
                        <span class="menu-icon">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
                            <span class="svg-icon svg-icon-5">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none">
                                    <path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="black"/>
                                    <path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z"
                                          fill="black"/>
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="menu-title" th:text="${menu.name}">主控台</span>
                    </a>
                </div>
                <!--end::Menu::Dashboards-->
                <!--begin::Menu::Permission-->
                <div th:if="${menu.children != null}" data-kt-menu-trigger="click" class="menu-item menu-accordion"
                     th:classappend="${#strings.startsWith(info.orders, menu.orders)} ? 'hover show'">
<!--            <th:block th:each="menu : ${session.left_tree}">-->
                    <span class="menu-link">
                        <span class="menu-icon">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
                            <span class="svg-icon svg-icon-5">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24" fill="none">
                                    <path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z"
                                          fill="black"/>
                                    <path opacity="0.3"
                                          d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z"
                                          fill="black"/>
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="menu-title" th:text="${menu.name}"></span>
                        <span class="menu-arrow"></span>
                    </span>
                    <div class="menu-sub menu-sub-accordion menu-active-bg">
                        <div th:each="child : ${menu.children}" class="menu-item">
                            <a class="menu-link" href="#" th:href="@{${child.uri}}"
                               th:classappend="${info.orders == child.orders} ? 'active'">
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                <span class="menu-title" th:text="${child.name}"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </th:block>

        </div>
        <!--end::Menu-->
    </div>
    <!--end::Aside Menu-->
</div>
