<div th:fragment="_header_topbar" class="topbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <!--begin::Topbar container-->
    <div class="container-fluid py-6 py-lg-0 d-flex flex-column flex-sm-row align-items-lg-stretch justify-content-sm-between">
        <!--begin::Page title-->
        <div th:replace="admin/_fragments/_header_topbar_breadcrumb :: _fragment_topbar_breadcrumb"></div>
        <!--end::Page title-->
        <!--begin::Action group-->
        <div class="d-flex align-items-center pt-3 pt-sm-0">
            <!--begin::Action wrapper-->
<!--            <div th:replace="admin/_fragments/_header_topbar_search :: _fragment_topbar_search"></div>-->
            <!--end::Action wrapper-->
            <!--begin::Actions-->
            <div class="d-flex">
                <!--begin::Notifications-->
                <!--find sample from doc-->
                <!--end::Notifications-->
                <!--begin::Chat-->
                <!--find sample from doc-->
                <!--end::Chat-->
                <!--begin::Theme mode-->
                <!--find sample from doc-->
                <!--end::Theme mode-->
                <!--begin::Quick links-->
                <!--find sample from doc-->
                <!--end::Quick links-->
            </div>
            <!--end::Actions-->
        </div>
        <!--end::Action group-->
    </div>
    <!--end::Topbar container-->
</div>