<div th:fragment="_fragment_topbar_breadcrumb" class="page-title d-flex flex-column me-5"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <!--begin::Title-->
    <h1 th:text="XKRotaract" class="d-flex flex-column text-dark fw-bolder fs-2 mb-0">Dashbaord</h1>
    <!--end::Title-->
    <!--begin::Breadcrumb-->
    <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 pt-1">
        <!--begin::Item-->
        <li class="breadcrumb-item text-muted">
            <a th:href="@{/admin/index}" class="text-muted text-hover-primary" th:text="首頁">Home</a>
<!--            <a th:text="${info.name}" href="../dist/index.html" class="text-muted text-hover-primary">Home</a>-->
        </li>
        <!--end::Item-->
        <th:block th:each="data : ${header_breadcrumb}">
            <!--begin::Item-->
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-300 w-5px h-2px"></span>
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li th:text="${data.name}" class="breadcrumb-item text-muted">Dashboards</li>
            <!--end::Item-->
        </th:block>

    </ul>
    <!--end::Breadcrumb-->
</div>
