<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!--begin::Card-->
<div th:fragment="basic" class="card">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-6">
        <!--begin::Card title-->
        <div class="card-title">
            <th:block th:replace="admin/_fragments/table_basic :: btn_search"></th:block>
        </div>
        <!--begin::Card title-->
        <!--begin::Card toolbar-->
        <th:block th:if="${add_btn != 'false'}">
            <div th:replace="admin/_fragments/table_basic :: Card_toolbar"></div>
        </th:block>
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div th:replace="'admin/'+${fragmentSystem}+'/'+${fragmentPackage}+'/view' :: table"></div>
    <!--end::Card body-->
</div>
<!--end::Card-->

<!--begin::Search-->
<div th:fragment="btn_search" class="d-flex align-items-center position-relative my-1">
    <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
    <span class="svg-icon svg-icon-1 position-absolute ms-6">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
             viewBox="0 0 24 24" fill="none">
            <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black"/>
            <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="black"/>
        </svg>
    </span>
    <!--end::Svg Icon-->
    <input type="text" data-kt-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search"/>
</div>
<!--end::Search-->

<!--begin::Card toolbar-->
<div th:fragment="Card_toolbar" class="card-toolbar">
    <!--begin::Toolbar-->
    <div class="d-flex justify-content-end" data-kt-table-toolbar="base">
        <!-- 使用 th:each 遍历 session.permissionAction -->
        <!-- 检查当前遍历的权限对象是否满足条件 -->
        <input type="hidden" id="PermissionAction_CREATE" th:value="${permission.active}" th:if="${permission != null and upInfo != null and permission.id == upInfo.id and permission.action.equals( T(com.xk.upms.model.enums.PermissionAction).CREATE )}">
        <th:block th:each="permission : ${session.permissionAction}">
            <th:block th:if="${permission != null
                     and upInfo != null
                     and permission.id == upInfo.id
                     and permission.action.equals(T(com.xk.upms.model.enums.PermissionAction).CREATE)
                     and permission.active}">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" name="add_btn"
                        th:attr="data-bs-target=${modal_id != null ? '#kt_modal_input_' + modal_id : '#kt_modal_input'}">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                    <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"/>
                            <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"/>
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                    <th:block th:text="${btn_text != null ? btn_text : '新增點我'}"></th:block>
                </button>
            </th:block>
        </th:block>
        <!--end::Add user-->
    </div>
    <!--end::Toolbar-->

    <!--begin::Group actions-->
    <div class="d-flex justify-content-end align-items-center d-none" data-kt-table-toolbar="selected">
        <div class="fw-bolder me-5">
            <span class="me-2" data-kt-table-select="selected_count"></span>Selected
        </div>
        <button type="button" class="btn btn-danger" data-kt-table-select="delete_selected">Delete Selected</button>
    </div>
    <!--end::Group actions-->
</div>
<!--end::Card toolbar-->


<!--begin::Submit-->
<div th:fragment="btn_submit" class="pb-10">
    <button class="btn btn-primary" id="kt_datatable_submit">Submit Form</button>
</div>
<!--end::Submit-->

<!--begin::Update-->

<th:block th:fragment="icon_update" th:each="permission : ${session.permissionAction}">
    <th:block th:if="${permission != null
                     and upInfo != null
                     and permission.id == upInfo.id
                     and permission.action.equals(T(com.xk.upms.model.enums.PermissionAction).WRITE)
                     and permission.active}">
        <button class="btn btn-icon btn-active-light-primary w-30px h-30px me-3" data-bs-toggle="modal" data-bs-target="#kt_modal_input" data-kt-table-filter="update_row">
            <!--begin::Svg Icon | path: icons/duotune/general/gen019.svg-->
            <span class="svg-icon svg-icon-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                     fill="none">
                    <path d="M17.5 11H6.5C4 11 2 9 2 6.5C2 4 4 2 6.5 2H17.5C20 2 22 4 22 6.5C22 9 20 11 17.5 11ZM15 6.5C15 7.9 16.1 9 17.5 9C18.9 9 20 7.9 20 6.5C20 5.1 18.9 4 17.5 4C16.1 4 15 5.1 15 6.5Z"
                          fill="black"/>
                    <path opacity="0.3"
                          d="M17.5 22H6.5C4 22 2 20 2 17.5C2 15 4 13 6.5 13H17.5C20 13 22 15 22 17.5C22 20 20 22 17.5 22ZM4 17.5C4 18.9 5.1 20 6.5 20C7.9 20 9 18.9 9 17.5C9 16.1 7.9 15 6.5 15C5.1 15 4 16.1 4 17.5Z"
                          fill="black"/>
                </svg>
            </span>
            <!--end::Svg Icon-->
        </button>
    </th:block>
</th:block>



<th:block th:fragment="btn_update" th:each="permission : ${session.permissionAction}">
    <th:block th:if="${permission != null
                     and upInfo != null
                     and permission.id == upInfo.id
                     and permission.action.equals(T(com.xk.upms.model.enums.PermissionAction).WRITE)
                     and permission.active}">
        <button type="button" class="btn btn-primary" name="update_row" data-bs-toggle="modal" data-bs-target="#kt_modal_input" data-kt-table-filter="update_row">
            <th:block th:text="${update_btn_text != null ? update_btn_text : '編輯點我'}">編輯點我</th:block>
        </button>
    </th:block>
</th:block>
<!--end::Update-->

<!--begin::Delete-->
<th:block th:fragment="icon_delete" th:each="permission : ${session.permissionAction}">
    <th:block th:if="${permission != null
                     and upInfo != null
                     and permission.id == upInfo.id
                     and permission.action.equals(T(com.xk.upms.model.enums.PermissionAction).WRITE)
                     and permission.active}">
        <button class="btn btn-icon btn-active-light-primary w-30px h-30px" data-kt-table-filter="delete_row">
            <!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
            <span class="svg-icon svg-icon-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                     fill="none">
                    <path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z"
                          fill="black"/>
                    <path opacity="0.5"
                          d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z"
                          fill="black"/>
                    <path opacity="0.5"
                          d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z"
                          fill="black"/>
                </svg>
            </span>
            <!--end::Svg Icon-->
        </button>
    </th:block>
</th:block>



<th:block th:fragment="btn_delete" th:each="permission : ${session.permissionAction}">
    <th:block th:if="${permission != null
                     and upInfo != null
                     and permission.id == upInfo.id
                     and permission.action.equals(T(com.xk.upms.model.enums.PermissionAction).WRITE)
                     and permission.active}">
        <button type="button" class="btn btn-primary" name="delete_row" data-kt-table-filter="delete_row">
            <th:block th:text="${delete_btn_text != null ? delete_btn_text : '刪除點我'}">刪除點我</th:block>
        </button>
    </th:block>
</th:block>
<!--end::Delete-->

</html>