<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--js資源引入-->
<th:block th:fragment="script"><!--<div>-->
    <script th:inline="javascript">
    // Insert
    $("[name='add_btn']").click(function(){
        $('#modal_name').text("新增系統");
        $("[name='id']").val(null);
        $("[name='name']").val(null);
        $("[name='basepath']").val(null);
        $("[name='title']").val(null);
        $("[name='description']").val(null);
        $("[name='status']")[0].checked = true;
        $("[name='orders']").val('999');
    });

    // Update
    var readyToEdit = function(row) {
        $('#modal_name').text("更新系統");
        $("[name='id']").val(row[1].innerText);
        $("[name='name']").val(row[2].innerText);
        $("[name='basepath']").val(row[4].innerText);
        $("[name='title']").val(row[3].innerText);
        $("[name='description']").val(row[5].innerText);
        var btnradio_status_ = row[6].innerText == '啟用';
        $("#btnradio_status_"+btnradio_status_).prop('checked', true);
        $("[name='orders']").val(row[7].innerText);
    }

    // Init form validation rules. For more info check the FormValidation plugin's official documentation:https://formvalidation.io/
    var validator = FormValidation.formValidation(
        form,
        {
            fields: {
                'name': {
                    validators: {
                        notEmpty: {
                            message: 'Permission name is required'
                        }
                    }
                },
                'title': {
                    validators: {
                        notEmpty: {
                            message: 'Permission name is required'
                        }
                    }
                },
                'basePath': {
                    validators: {
                        notEmpty: {
                            message: 'Permission name is required'
                        }
                    }
                },
            },

            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                bootstrap: new FormValidation.plugins.Bootstrap5({
                    rowSelector: '.fv-row',
                    eleInvalidClass: '',
                    eleValidClass: ''
                })
            }
        }
    );

    // JavaScript函数，用于将input1的值复制到input2中
    function copyInputValue() {
        // 获取input1和input2元素
        var input1 = document.getElementById("name");
        var input2 = document.getElementById("basepath");
        // 将input1的值复制到input2中
        input2.value = '/' + input1.value;
    }
    </script>
</th:block><!--</div>-->
<!--js資源引入-->

<!--begin::Modal body-->
<div th:fragment="form" class="modal-body scroll-y mx-5 mx-xl-15 my-7">
    <!--begin::Form-->
    <form id="kt_modal_input_form" class="form" th:action="@{/admin/upms/manage/system/save}" method="post" th:object="${entity}">
        <input type="hidden" name="id">
        <!--begin::Input group-->
        <div class="row fv-row mb-7">
            <div class="col-md">
                <!--begin::Label-->
                <label class="fs-6 fw-bold form-label mb-2">
                    <span class="required">系統代號</span>
                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="popover"
                       data-bs-trigger="hover" data-bs-html="true"
                       data-bs-content="系統代號必須是唯一的。"></i>
                </label>
                <!--end::Label-->
                <!--begin::Input-->
                <input class="form-control form-control-solid" placeholder="Enter a system code" name="name" id="name" oninput="copyInputValue()"/>
                <!--end::Input-->
            </div>
            <div class="col-md">
                <!--begin::Label-->
                <label class="fs-6 fw-bold form-label mb-2">
                    <span class="required">系統根目錄(自動帶入)</span>
                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="popover"
                       data-bs-trigger="hover" data-bs-html="true"
                       data-bs-content="必填"></i>
                </label>
                <!--end::Label-->
                <!--begin::Input-->
                <input class="form-control form-control-solid" placeholder="/system" name="basepath" id="basepath" readonly/>
                <!--end::Input-->
            </div>
        </div>
        <!--end::Input group-->
        <!--begin::Input group-->
        <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="fs-6 fw-bold form-label mb-2">
                <span class="required">系統標題</span>
                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="popover"
                   data-bs-trigger="hover" data-bs-html="true"
                   data-bs-content="必填"></i>
            </label>
            <!--end::Label-->
            <!--begin::Input-->
            <input class="form-control form-control-solid" placeholder="Enter a system title" name="title" />
            <!--end::Input-->
        </div>
        <!--end::Input group-->
        <!--begin::Input group-->
        <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="fs-6 fw-bold form-label mb-2">
                <span>系統描述</span>
            </label>
            <!--end::Label-->
            <!--begin::Input-->
            <input class="form-control form-control-solid" placeholder="Enter a system description" name="description" />
            <!--end::Input-->
        </div>
        <!--end::Input group-->
        <!--begin::Input group-->
        <div class="row fv-row mb-7">
            <div class="col-md">
                <!--begin::Label-->
                <label class="fs-6 fw-bold form-label mb-2">
                    <span>排序</span>
                </label>
                <!--end::Label-->
                <!--begin::Input-->
                <input class="form-control form-control-solid" placeholder="Enter a menu orders" name="orders" type="number" value="999" min="0" max="999" step="1"/>
                <!--end::Input-->
            </div>
            <div class="col-md">
                <!--begin::Label-->
                <label class="fs-6 fw-bold form-label mb-2">
                    <span>狀態</span>
                </label>
                <!--end::Label-->
                <!--begin::Input-->
                <div class="btn-group form-control form-control-solid mb-3 mb-lg-0" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio_status_true" id="btnradio_status_true" value="true" th:field="*{status}" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="btnradio_status_true" th:text="啟用">Radio 1</label>

                    <input type="radio" class="btn-check" name="btnradio_status_false" id="btnradio_status_false" value="false" th:field="*{status}" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio_status_false" th:text="禁用">Radio 2</label>
                </div>
                <!--end::Input-->
            </div>
        </div>
        <!--end::Input group-->
        <!--begin::Actions-->
        <div th:replace="admin/_fragments/input_basic :: Actions"></div>
        <!--end::Actions-->
    </form>
    <!--end::Form-->
</div>
<!--end::Modal body-->

</html>