<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xk.cms.dao.mapper.CmsUserMapper">

    <resultMap type="com.xk.cms.model.po.CmsUser" id="baseRM">
        <id property="id" column="user_id"></id>
        <result property="fkUpmsUserId" column="fkUpmsUserId"/>
        <result property="rname" column="rname"/>
        <result property="realname" column="realname"/>
        <result property="district_id" column="district_id"/>
        <result property="rotaract_id" column="rotaract_id"/>
        <result property="avatarUrl" column="avatarUrl"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="gender" column="gender"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <resultMap type="com.xk.cms.model.dto.CmsUserExample" id="cuDto" extends="baseRM">
        <!-- 继承自 baseRM 的映射 -->
        <result property="email" column="email"/>
        <result property="roleId" column="role_id"/>
        <result property="roleDescription" column="role_description"/>
    </resultMap>
<!--    <resultMap type="com.xk.upms.model.dto.CmsUserExample" id="cuDto">-->
<!--        <id property="id" column="user_id"></id>-->
<!--        <result property="username" column="username"/>-->
<!--        <result property="realname" column="realname"/>-->
<!--        <result property="avatarUrl" column="avatar_url"/>-->
<!--        <result property="email" column="email"/>-->
<!--        <result property="locked" column="locked"/>-->
<!--        <result property="lastLogin" column="last_login"/>-->
<!--        <result property="createTime" column="create_time"/>-->
<!--        <result property="role_title" column="role_title"/>-->
<!--    </resultMap>-->

    <select id="getClubUsers" resultMap="cuDto">
        SELECT  cu.*, ur.`role_id`, ur.`description` AS role_description, uu.`email`
        FROM `cms_user` cu
        LEFT JOIN `upms_user` uu ON cu.`fk_upms_user_id` = uu.`user_id`
        LEFT JOIN `upms_user_role` uur ON uu.user_id = uur.user_id
        LEFT JOIN `upms_role` ur ON uur.role_id = ur.role_id
        WHERE cu.`rotaract_id` = #{rotaract_id} AND ur.`role_id` NOT IN ('1', '10')
        ORDER BY ur.`orders` ASC
    </select>

</mapper>