<!DOCTYPE html>
<!-- /good_html_v1.0.3/theme/dist/apps/calendar.html -->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--css資源引入-->
<th:block th:fragment="head"><!--<div>-->
    <!--begin::Vendor Stylesheets(used for this page only)-->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/custom/fullcalendar/fullcalendar.bundle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/custom/datatables/datatables.bundle.css}"/>
    <!--end::Vendor Stylesheets-->
</th:block><!--</div>-->
<!--css資源引入-->
<!--js資源引入-->
<th:block th:fragment="script"><!--<div>-->
    <!--begin::Vendors Javascript(used for this page only)-->
    <script th:src="@{/plugins/custom/fullcalendar/fullcalendar.bundle.js}"></script>
    <script th:src="@{/plugins/custom/datatables/datatables.bundle.js}"></script>
    <!--end::Vendors Javascript-->
    <!--begin::Page Custom Javascript(used by this page)-->
    <script th:src="@{/js/custom/datatables/table.js}"></script>
    <script th:src="@{/js/custom/datatables/shared.js}"></script>
<!--    <script th:src="@{/js/custom/datatables/input.js}"></script>-->
    <!--/*/<th:block th:replace="'admin/'+${fragmentSystem}+'/'+${fragmentPackage}+'/input_add_event' :: script">/*/-->
    <!--/*/</th:block>/*/-->
    <script th:src="@{/js/custom/apps/calendar/calendar.js}"></script>
    <!--end::Page Custom Javascript-->
    <script th:inline="javascript">
        $(document).ready(function() {
            // 監聽 allDay checkbox 的變化
            $("[name='allDay']").change(function() {
                if ($(this).is(":checked")) {
                    // 如果勾選 allDay，清空時間並隱藏時間選擇
                    $("[name='startTime']").val('');
                    $("[name='endTime']").val('');
                    datepickerWrappers.forEach(dw => {
                        dw.classList.add('d-none'); // 隱藏時間選擇框
                    });
                } else {
                    // 如果未勾選 allDay，顯示時間選擇框
                    datepickerWrappers.forEach(dw => {
                        dw.classList.remove('d-none');
                    });
                }
            });

            var elementD = document.getElementById('inputGroupSelect_district');
            var elementC = document.getElementById('inputGroupSelect_club');
            if ($('#calendar_range').val() === 'club') {
                elementD.style.display = 'block';
                elementC.style.display = 'block';
                elementD.disabled = true;
                elementC.disabled = true;
            } else if ($('#calendar_range').val() === 'district') {
                elementD.style.display = 'block';
                elementC.style.display = 'none';
                elementD.disabled = true;
                // elementC.disabled = true;
            } else {
                elementD.style.display = 'block';
                elementC.style.display = 'block';
                elementD.disabled = false;
                elementC.disabled = false;
            }

        });

    </script>
</th:block><!--</div>-->
<!--js資源引入-->


<!--begin::Container-->
<div th:fragment="list" id="kt_content_container" class="container-fluid">
    <!--begin::Card-->
    <div class="card">
        <!--begin::Card header-->
        <div class="card-header">
            <h2 class="card-title fw-bolder">Calendar</h2>
            <!--begin::Card toolbar-->
            <th:block th:if="${add_btn != 'false'}">
                <div th:replace="admin/_fragments/table_basic :: Card_toolbar(modal_id='add_event')"></div>
            </th:block>
            <!--end::Card toolbar-->
        </div>
        <!--end::Card header-->
        <!--begin::Card body-->
        <div class="card-body">
            <input type="hidden" id="calendar_range" th:value="${calendar_range}">
            <input type="hidden" id="district_id" name="district_id" th:value="${district_id}">
            <input type="hidden" id="rotaract_id" name="rotaract_id" th:value="${rotaract_id}">
            <!--begin::Calendar-->
            <div id="kt_calendar_app"></div>
            <!--end::Calendar-->
        </div>
        <!--end::Card body-->

        <!--begin::Modals-->
        <!--begin::Modal - New Product-->
        <div th:replace="admin/_fragments/input_basic :: basic(modal_id='add_event')"></div>
        <!--end::Modal - New Product-->
        <!--begin::Modal - New Product-->
        <div th:replace="'admin/'+${fragmentSystem}+'/'+${fragmentPackage}+'/input_view_event' :: model"></div>
        <!--end::Modal - New Product-->
        <!--end::Modals-->
    </div>
    <!--end::Card-->
</div>
<!--end::Container-->


</body>
<!--end::Body-->
</html>