<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--css資源引入-->
<!--css資源引入-->
<!--js資源引入-->
<!--js資源引入-->




<!--begin::Card-->
<div th:fragment="basic" class="card mb-5 mb-xl-8">
    <!--begin::Card body-->
    <div class="card-body">
        <!--begin::Summary-->
        <!--begin::User Info-->
        <div class="d-flex flex-center flex-column py-5">
            <!--begin::Avatar-->
            <div class="symbol symbol-100px symbol-circle mb-7">
                <img th:src="@{/media/avatars/300-1.jpg}" alt="image" />
            </div>
            <h2 class="fs-3 text-gray-800 text-hover-primary fw-bolder mb-3" th:text="${info.username}"></h2>
            <!--begin::Position-->
            <div class="mb-9">
                <!--begin::Badge-->
                <div th:if="${info.roleList != null}">
                    <div th:if="${#lists.size(info.roleList) > 0}">
                        <th:block th:each="data : ${info.roleList}">
                            <div class="badge badge-lg badge-light-primary d-inline" th:text="${data.description ?: '系統管理員'}"></div>
                        </th:block>
                        <div th:if="${#lists.size(info.roleList) == 0}">
                            <div class="badge badge-lg badge-light-primary d-inline">角色未定義</div>
                        </div>
                    </div>
                </div>ddd
                <div th:if="${info.roleList == null}">
                    <div class="badge badge-lg badge-light-primary d-inline">角色未定義</div>
                </div>
                <!--end::Badge-->
            </div>
            <!--end::Position-->
            <!--begin::Info-->
            <!--begin::Info heading-->
            <!--                        <div class="fw-bolder mb-3">本週任務分派-->
            <!--                            <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-html="true" data-bs-content="Number of support tickets assigned, closed and pending this week."></i>-->
            <!--                        </div>-->
            <!--end::Info heading-->
            <!--                        <div class="d-flex flex-wrap flex-center">-->
            <!--                            &lt;!&ndash;begin::Stats&ndash;&gt;-->
            <!--                            <div class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3">-->
            <!--                                <div class="fs-4 fw-bolder text-gray-700">-->
            <!--                                    <span class="w-75px">243</span>-->
            <!--                                    &lt;!&ndash;begin::Svg Icon | path: icons/duotune/arrows/arr066.svg&ndash;&gt;-->
            <!--                                    <span class="svg-icon svg-icon-3 svg-icon-success">-->
            <!--                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">-->
            <!--                                            <rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="black" />-->
            <!--                                            <path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="black" />-->
            <!--                                        </svg>-->
            <!--                                    </span>-->
            <!--                                    &lt;!&ndash;end::Svg Icon&ndash;&gt;-->
            <!--                                </div>-->
            <!--                                <div class="fw-bold text-muted">全部</div>-->
            <!--                            </div>-->
            <!--                            &lt;!&ndash;end::Stats&ndash;&gt;-->
            <!--                            &lt;!&ndash;begin::Stats&ndash;&gt;-->
            <!--                            <div class="border border-gray-300 border-dashed rounded py-3 px-3 mx-4 mb-3">-->
            <!--                                <div class="fs-4 fw-bolder text-gray-700">-->
            <!--                                    <span class="w-50px">56</span>-->
            <!--                                    &lt;!&ndash;begin::Svg Icon | path: icons/duotune/arrows/arr065.svg&ndash;&gt;-->
            <!--                                    <span class="svg-icon svg-icon-3 svg-icon-danger">-->
            <!--                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">-->
            <!--                                            <rect opacity="0.5" x="11" y="18" width="13" height="2" rx="1" transform="rotate(-90 11 18)" fill="black" />-->
            <!--                                            <path d="M11.4343 15.4343L7.25 11.25C6.83579 10.8358 6.16421 10.8358 5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75L11.2929 18.2929C11.6834 18.6834 12.3166 18.6834 12.7071 18.2929L18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25C17.8358 10.8358 17.1642 10.8358 16.75 11.25L12.5657 15.4343C12.2533 15.7467 11.7467 15.7467 11.4343 15.4343Z" fill="black" />-->
            <!--                                        </svg>-->
            <!--                                    </span>-->
            <!--                                    &lt;!&ndash;end::Svg Icon&ndash;&gt;-->
            <!--                                </div>-->
            <!--                                <div class="fw-bold text-muted">已解決</div>-->
            <!--                            </div>-->
            <!--                            &lt;!&ndash;end::Stats&ndash;&gt;-->
            <!--                            &lt;!&ndash;begin::Stats&ndash;&gt;-->
            <!--                            <div class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3">-->
            <!--                                <div class="fs-4 fw-bolder text-gray-700">-->
            <!--                                    <span class="w-50px">188</span>-->
            <!--                                    &lt;!&ndash;begin::Svg Icon | path: icons/duotune/arrows/arr066.svg&ndash;&gt;-->
            <!--                                    <span class="svg-icon svg-icon-3 svg-icon-success">-->
            <!--                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">-->
            <!--                                            <rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="black" />-->
            <!--                                            <path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="black" />-->
            <!--                                        </svg>-->
            <!--                                    </span>-->
            <!--                                    &lt;!&ndash;end::Svg Icon&ndash;&gt;-->
            <!--                                </div>-->
            <!--                                <div class="fw-bold text-muted">未解決</div>-->
            <!--                            </div>-->
            <!--                            &lt;!&ndash;end::Stats&ndash;&gt;-->
            <!--                        </div>-->
            <!--end::Info-->
        </div>
        <!--end::User Info-->
        <!--end::Summary-->
        <!--begin::Details toggle-->
        <div class="d-flex flex-stack fs-4 py-3">
            <div class="fw-bolder rotate collapsible" data-bs-toggle="collapse" href="#kt_user_view_details" role="button" aria-expanded="false" aria-controls="kt_user_view_details">Details
                <span class="ms-2 rotate-180">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                    <span class="svg-icon svg-icon-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="black" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </span>
            </div>
            <span data-bs-toggle="tooltip" data-bs-trigger="hover" title="Edit customer details">
                <a href="#" class="btn btn-sm btn-light-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_input">編輯</a>
            </span>
        </div>
        <!--end::Details toggle-->
        <div class="separator"></div>
        <!--begin::Details content-->
        <div id="kt_user_view_details" class="collapse show">
            <div class="pb-5 fs-6">
                <!--begin::Details item-->
                <div class="fw-bolder mt-5">Account ID</div>
                <!--                            <div class="text-gray-600" th:text="'ID-' + ${#strings.padStart(info.id.toString(), 6, '0')}">ID-45453423</div>-->
                <!--                            <div class="text-gray-600" th:text="'ID-' + ${#numbers.formatInteger(info.id, '000000')}">ID-45453423</div>-->
                <div class="text-gray-600" th:text="'ID-' + (${info.id < 10 ? '00000' : info.id < 100 ? '0000' : info.id < 1000 ? '000' : info.id < 10000 ? '00' : info.id < 100000 ? '0' : ''} + ${info.id})">
                    ID-45453423
                </div>
                <!--begin::Details item-->
                <!--begin::Details item-->
                <div class="fw-bolder mt-5">郵件信箱(Acc.)</div>
                <div class="text-gray-600">
                    <a href="#" class="text-gray-600 text-hover-primary" th:text="${info.email}">exple@keenthemes.com</a>
                </div>
                <!--begin::Details item-->
                <!--begin::Details item-->
                <div class="fw-bolder mt-5">行動電話(Acc.)</div>
                <div class="text-gray-600" th:text="${info.cellPhone}"></div>
                <!--begin::Details item-->
                <!--begin::Details item-->
                <div class="fw-bolder mt-5">用戶狀態</div>
                <div class="badge fw-bolder text-gray-600"
                     th:text="${info.locked==0 ? '啟用' : '禁用'}"
                     th:classappend="${info.locked==0 ? 'badge-light-success' : 'badge-light-danger'}" >Enabled</div>
                <!--begin::Details item-->
                <!--begin::Details item-->
                <div class="fw-bolder mt-5">Last Login</div>
                <div class="text-gray-600" th:text="${#dates.format(info.lastLogin, 'dd-MMM-yyyy, HH:mm a')}">English</div>
                <!--begin::Details item-->
            </div>
        </div>
        <!--end::Details content-->
    </div>
    <!--end::Card body-->
</div>
<!--end::Card-->